{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet/less" type="text/css" href="{{ asset('css/login.less') }}" />
{% endblock %}

{% block body %}
    {% if error %}
        {{ error }}
    {% endif %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ path('login') }}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password">
                            </div>
                            <input type="submit" id="sendlogin" class="btn btn-primary float-right" value="Logar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
